{% extends 'main/layout.html' %}


{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="features">
    <h1>Всем привет!</h1>
    <h3>Это сайт dz_kabanchi.com, точнее его бета версия. На протяжении долгого времени я веду работу над этим проектом, и вот, он практически готов. Весь функционал кнопок оплаты я убрал, ведь пока что это чисто по братски! Надеюсь тебе понравится!</h3>
    <a href="otziv" class="nav-link text-white">
    <button class="btn btn-danger">Написать отзыв по братски</button>
    </a>
    <p>Оставь свой отзыв, чтобы я мог видеть недочёты/положительный черты своего сервиса!</p>
</div>
{% endblock %}